<div id="app-container">
  <form id="form" (submit)="handleSubmit($event)">
    <dx-form
      [formData]="employee"
      labelLocation="top"
      [showColonAfterLabel]="false"
      [readOnly]="isFormReadOnly"
    >
      <dxi-form-item
        itemType="group"
        caption="Personal Information"
        [colCount]="2"
      >
        <dxi-form-item dataField="name" [isRequired]="true">
          <dxi-form-validation-rule
            type="required"
            message="Name is required"
          ></dxi-form-validation-rule>
        </dxi-form-item>
        <dxi-form-item dataField="position"></dxi-form-item>
        <dxi-form-item
          dataField="hireDate"
          editorType="dxDateBox"
        ></dxi-form-item>
        <dxi-form-item dataField="officeNumber" [isRequired]="true">
          <dxi-form-validation-rule
            type="numeric"
            message="This field should contain a number"
          ></dxi-form-validation-rule>
        </dxi-form-item>
      </dxi-form-item>

      <dxi-form-item
        itemType="group"
        caption="Contact Information"
        [colCount]="2"
      >
        <dxi-form-item dataField="phone"></dxi-form-item>
        <dxi-form-item dataField="skype"></dxi-form-item>
        <dxi-form-item dataField="email" [colSpan]="2">
          <dxi-form-validation-rule
            type="email"
            message="Email is invalid"
          ></dxi-form-validation-rule>
        </dxi-form-item>
      </dxi-form-item>

      <dxi-form-item itemType="group" caption="Additional Information">
        <dxi-form-item
          dataField="notes"
          editorType="dxTextArea"
        ></dxi-form-item>
      </dxi-form-item>

      <dxi-form-item
        itemType="button"
        [buttonOptions]="submitButtonOptions"
      ></dxi-form-item>
    </dx-form>
  </form>

  <div id="check-box">
    <dx-check-box
      text="Make form read-only"
      [(value)]="isFormReadOnly"
      (onValueChanged)="onReadOnlyChanged()"
    ></dx-check-box>
  </div>
</div>
